/*
# FONTES
font-family: 'Oxygen', sans-serif;
font-family: 'Raleway', sans-serif;

*/

body {
  font-family: "Oxygen", sans-serif;
  background-color: #f4faff;
}

.navbar {
  background-color: #0f4972 !important;
}

.p_nav {
  color: #fff;
  padding-top: 10px;
}

.section_1 {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-image: url(../image/banner.webp);
  background-position: center -70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: white;
}
.col_1_section_1 {
  margin-top: 82px;
}

.section_1 > .container > .row > .col-lg-6 > h4 {
  color: #fff;
}

.section_1 > .container > .row > .col-lg-6 > h1 {
  font-family: "Raleway", sans-serif;
  color: #ffc600;
}

.section_1 > .container > .row > .col-lg-6 > .btn {
  color: #fff;
  background-color: #1f8ef5;
  border-color: #1f8ef5;
  padding: 15px 50px;
  margin-top: 48px;
}

.section_1 > .container > .row > .col-lg-6 > .btn:hover {
  background-color: #007db3;
  border-color: #007db3;
}

.section1__icon {
  margin-bottom: 12px;
}

/* .img_model {
  width: 90%;
} */

.section_2 {
  background-color: #fff;
  margin-top: 12px;
  padding-bottom: 12px;
}

.section_2 > .container > .row > .col-lg-12 > .row > .col > .btn {
  color: #909090;
  border: none;
  background: rgba(50, 50, 50, 0.1);
  padding: 15px 70px;
}

.division {
  width: 70%;
  height: 2px;
  background: #dbeaff;
  margin: 32px auto;
}

.row__second-title {
  margin-top: 12px;
}
.btn_cookie {
  width: 150px !important;
}
.section_2 > .container > .row > .col-lg-12 > .row > .col > .btn:hover {
  background: rgba(10, 131, 243, 0.1);
  color: #0a83f3;
  font-weight: 800;
}

.section_3 > .container > .row > .col_1_section_3 {
  margin-top: 100px;
}

.section_3 > .container > .row > .col-lg-6 > img {
  padding-top: 47px !important;
  width: 90%;
}

.tt_sections {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.section_4 {
  margin-top: 149px;
}

.section_4 > .container > .row > .col-lg-6 > img {
  width: 90%;
}

.section_4 > .container > .row > .col_1_section_4 {
  margin-top: 0px;
}

.section_5 {
  margin-top: 0px;
}

.section_5 > .container > .row > .col-lg-6 > img {
  width: 90%;
}

.section_5 > .container > .row > .col_1_section_5 {
  margin-top: 140px;
}

.section_5_5 {
  margin-top: 100px;
}

.section_5_6 {
  margin-top: 100px;
  min-height: 300px;
  background-color: #007db3;
  padding: 75px;
}

.section_6 {
  margin-top: 100px;
}

.section_6 > .container > .row > .col_1_section_6 {
  margin-top: 50px;
}

.section_6 > .container > .row > .col-lg-6 > img {
  width: 90%;
}

.section_7 {
  margin-top: 80px;
}

.section_7 > .container > .row > .col_2_section_7 {
  margin-top: 130px;
}

.section_7 > .container > .row > .col-lg-6 > img {
  width: 90%;
}

.section_8 {
  margin-top: 100px;
}

.card_white {
  background-color: #fff;
  min-height: 200px;
  padding: 12px;
  text-align: left !important;
}

.img_slide_dep {
  width: 100%;
}
.telegram-button {
  width: 200px !important;
  padding: 3px !important;
}
.btn_slide {
  width: 100%;
  font-size: 32px;
  color: #fff;
  background-color: #007db3;
  border-color: #007db3;
  border: none;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.btn_slide:hover {
  background-color: #1f8ef5;
  border-color: #1f8ef5;
}

.btn_slide_mobile {
  display: none;
}

.anima_slide {
  display: block;
}
.anima_slide_mobile {
  display: none;
}

.btn_chamada {
  font-size: 14px;
  color: #fff;
  background-color: #1f8ef5;
  border-color: #1f8ef5;
  padding: 15px 50px;
}

.div_btn {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bi-facebook {
  width: 40px;
  fill: #fff;
}

.bi-instagram {
  width: 40px;
  fill: #fff;
}

.bi-youtube {
  width: 40px;
  fill: #fff;
}
.telegram-icon {
  margin-right: 12px;
}

/* ##### LGPD ######  */

#LGPD {
  width: 80%;
  z-index: 5000;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  margin: 25px;
  margin-top: 300px;
  bottom: 0px;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.lgpd-popUp {
  animation: pop_up-animation 1s;
}

@keyframes pop_up-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transition: transform 1s ease-in-out, opacity 0.4s ease-in-out 1s;
    opacity: 1;
  }
}

.p_lgpd {
  margin-top: 10px;
  font-size: 14px;
}

/* ##### FIM LGPD ######  */

footer {
  margin-top: 63px;
}

.footer_canal_telegram {
  background-color: #fff;
  min-height: 80px;
}

.col_canal_telegram {
  padding: 25px 110px;
}

.btn_blue {
  background-color: #1f8ef5;
}

footer {
  background-color: #0a4772;
}

.footer_1_footer_blue {
  background-color: #0f4972;
  padding: 25px 110px;
}

.footer_2_footer_blue {
  padding-top: 50px;
  background: linear-gradient(90deg, #0a4772 9.9%, rgba(10, 71, 114, 0) 100%),
    #0a4772;
}

.tt_footer {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.Link_footer {
  color: #fff;
}

.linha_2_footer {
  min-height: 212px;
  padding: 25px 110px;
}

.col_2_footer {
  margin-left: 100px;
}

.col_3_footer {
  margin-left: 100px;
}

.footer-2_down {
  background-color: #0a4772;
  color: #fff;
  min-height: 60px;
}

.linha_fluid_footer {
  padding: 25px 110px;
}

.icon_social {
  width: 6%;
}

.col_social_mobile_footer {
  display: none;
}

.col_img_logo_footer {
  margin-right: auto;
  margin-left: auto;
}

.mobiles_img_footer {
  display: none;
}

.white_back_carrocel {
  background-color: #fff;
  min-height: 130px;
  padding: 15px;
  border-radius: 8px;
}

.foto_circ {
  width: 64px;
  border: solid 2px #0069d9;
}

.section_nova_pgg {
  margin-top: 50px;
}

.tt_perg {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.carrocel_desktop {
  display: block;
}
.carrocel_mobile {
  display: none;
}

/* RESPONSIVIDADE  */

@media (max-width: 319px) {
}
@media (min-width: 320px) and (max-width: 360px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 55%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 361px) and (max-width: 375px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 60%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 376px) and (max-width: 414px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 70%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 415px) and (max-width: 533px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 55%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 534px) and (max-width: 575px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 55%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 744px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 55%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 745px) and (max-width: 767px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 55%;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 0;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }

  .col_canal_telegram {
    text-align: center;
    padding: 25px 0px;
  }

  .btn_blue {
    width: 100%;
    margin-top: 20px;
  }

  .footer_1_footer_blue {
    padding: 25px 10px;
  }

  .col_2_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .col_3_footer {
    margin-top: 30px;
    margin-left: 0px;
  }

  .linha_fluid_footer {
    text-align: center;
    padding: 25px 0px;
  }

  .col_social_footer {
    display: none;
  }

  .col_social_mobile_footer {
    margin-top: 20px;
    display: block;
  }

  .icon_social {
    width: 8%;
  }

  .mobiles_img_footer {
    display: block;
  }

  .col_img_logo_footer {
    display: none;
  }
  .col_play {
    display: none;
  }

  .logo_logo_footer {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  #fazemos {
    margin-top: -45px;
  }

  .linha_2_footer {
    min-height: 212px;
    padding: 25px 10px;
  }

  .carrocel_desktop {
    display: none;
  }
  .carrocel_mobile {
    display: block;
  }

  .tt_perg {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  p {
    text-align: left !important;
  }

  .p_nav {
    text-align: center !important;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .section_1
    > .section_2
    > .section_3
    > .section_4
    > .section_5
    > .section_6
    > .section_7
    > .section_8 {
    text-align: center;
  }

  .logo {
    margin-left: 0;
  }

  .navbar {
    text-align: center;
  }

  .btn_slide {
    display: none;
  }
  .btn_slide_mobile {
    display: block;
    width: 100%;
    font-size: 32px;
    color: #fff;
    background-color: #007db3;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .section_1 {
    text-align: center;
  }

  .col_1_section_1 {
    margin-top: 50px;
  }

  .col_2_section_1 {
    display: none;
  }

  .btn_menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .section_5 > .container > .row > .col_1_section_5 {
    margin-top: 0px;
  }

  .section_7 > .container > .row > .col-lg-6 > img {
    width: 100%;
  }

  .tt_sections {
    font-size: 28px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .section_6 {
    margin-top: 80px;
  }

  .anima_slide {
    display: none;
  }
  .anima_slide_mobile {
    display: block;
  }

  .section_5_6 {
    padding: 20px;
  }

  .section_6 > .container > .row > .col_1_section_6 {
    margin-top: 20px;
  }

  .section_7 > .container > .row > .col_2_section_7 {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  #LGPD {
    width: 88%;
    z-index: 5000;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    margin: 25px;
    margin-top: 300px;
    bottom: 0px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  }
}
@media (min-width: 1370px) and (max-width: 2599px) {
  #LGPD {
    width: 55%;
    z-index: 5000;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    margin: 25px;
    margin-top: 300px;
    bottom: 0px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  }
}
@media (min-width: 2600px) and (max-width: 8000px) {
  #LGPD {
    width: 35%;
    z-index: 5000;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    margin: 25px;
    margin-top: 300px;
    bottom: 0px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  }
}
@media screen and (max-width: 740px) {
  .col-12.col-lg-6.col_1_section_1 {
    position: relative;
    height: 700px;
  }
  svg.section1__icon {
    position: relative;
    right: 35%;
  }
}
